:root {
  --background-color: #E8EBEE;
  --text-primary: #292B32;
  --text-secondary: #9e7b84;
  --text-disabled: #292b3266;
  --primary-color: #39aa5d;
  --border-color: #292b321a;

  --font-main: 'Helvetica Now Display', sans-serif;

  --height-header: 168px;
  --height-actions: 60px;
}
