:root {
  --background-color: #E8EBEE;
  --text-primary: #292B32;
  --text-secondary: #9e7b84;
  --primary-color: #39aa5d;
  --border-color: rgba(41, 43, 50, 0.1);

  --font-main: 'Helvetica Now Display', sans-serif;

  --height-header: 168px;
  --height-actions: 60px;
}
